.btn {
    background-color: #04aa6df8;
    color: white;
    padding: 5px 7px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 12%;
    border-radius: 12px;
    font-weight: 400;
    font-size: large;
    height: fit-content;
  }

  .input {
      border-radius: 3px;
      font-size: 14px;
  }